PyQt6
speechrecognition
pyttsx3
pyaudio
pystray
pillow
psutil>=5.9.0
pyautogui
pycaw
screen-brightness-control
pyperclip
pywhatkit
googletrans==4.0.0-rc1
httpcore==0.9.1
httpx==0.13.3
pyjokes
yfinance
openai
requests
pint
pdfplumber
winshell
pywin32
speedtest-cli
wmi
sympy
vosk
wikipedia
keyboard
yagmail
lxml
premailer
websockets>=12.0
zeroconf>=0.131.0
