PyQt6
speechrecognition
pyttsx3
pyaudio
pystray
pillow
psutil
pyautogui
pycaw
screen-brightness-control
pyperclip
pywhatkit
googletrans==4.0.0-rc1
pyjokes
yfinance
openai
requests
pint
pdfplumber
winshell
pywin32
speedtest-cli
wmi
sympy
vosk
